*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
 
}
#nav h1{
    font-size: 16px;
}
#nav img{
    height: 50px;
   
}
#navpart2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    
}
#navpart2 a{
    text-decoration: none; 
    font-size: 15px; 
    transform: translate(-50%,50);
    transition: all ease 0.5s;
}
#navpart2 a:hover{
    transform: translate(-50%,50);
    color: rgb(75, 73, 73);
}
#line{
    width: 50px;
    height: 2px;
    background-color: red;
}
#box{
    height: 600px;
    width: 400px;
    border-radius: 200px 200px 0px 0px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.unsplash.com/photo-1567103472667-6898f3a79cf2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
}
#text h1{
    padding-top: 100px;
    padding-left: 100px;
    font-size: 50px;
    line-height: 45px;
}
#text span{
    color: orangered;
}
#text p{
    padding-top: 20px;
    padding-left: 100px;
    font-weight: 600;
}
button{
    padding: 15px 30px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 50px;
    font-family: Gilroy;
    transform: translate(-50%,50);
    transition: all ease 0.5s;
}
button:hover{
    transform: translate(-50%,50);
    background-color: #fff;
    color: #000;
}
button i{
    margin-right: 10px;
}


#icons{
    color: orangered;
    font-size: 25px;
    margin-left: 20px;
    transform: translate(-50%,50);
    transition: all ease 0.5s;
} 
#icons:hover{
    transform: translate(-50%,50);
    color: red;
}
#box img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 88%;
    top: 15%;
    box-shadow: 0px 20px 50px purple;
}
#box h1{
    color: #FFf;
    font-size: 15px;
    position: absolute;
    left: 110%;
    top: 16%;
    text-shadow: 2px 2px 20px purple;
}
#box p{
    position: absolute;
    left: 110%;
    top: 22%;
    text-shadow: 2px 2px 20px purple;
}
#right{
    height: 400px;
    width: 300px;
    position: absolute;
    left: 75%;
    top: 40%;
}
#elme{
    padding-left: 30px;
    padding-top: 50px;
    opacity: .4;
}
#elme i{
    margin-left: 150px;
}
#elme1{
    padding-top: 30px;
    padding-left: 30px;
    opacity: .4;
}
#elme1 i{
    margin-left: 165px;
}
#elme2{
    padding-top: 30px;
    padding-left: 30px;
    opacity: .4;
}
#elme2 i{
    margin-left: 150px;
}
#elme3{
    padding-top: 30px;
    padding-left: 30px;
    opacity: .4;
}